@page "/demohotel"
@using Model
<h3>We will display hote rooms and amenitites here!</h3>

<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info">Room List[Using Component]</h2>

    <div class="row container-fluid">
        <div class="col-12">
            <h4 class="text-info" >Hotel Rooms</h4>
            <span>Rooms Selected: @SelectedRooms</span>
        </div>
        @foreach (var room in RoomsList)
        {
            <IndividualRoom OnRoomCheckboxSelected="RoomsSelectedCounterChanged" Room="@room"></IndividualRoom>

        }
    

    <div class="col-12 mt-4">
        <h4 class="text-info">Hotel Amenities[Assignment]</h4>
        </div>
        @foreach (var amenity in AmenitiesList)
        {
            <IndividualAmenities OnAmenitiesSelection="AmenitiesSelectionChanged" Amenity="@amenity"></IndividualAmenities>

        }
    </div>
</div>
<span>Selected Amenity: @SelectedAmeninities</span>






@code{




    List<Amenities> AmenitiesList = new List<Amenities>();

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();

    public int SelectedRooms { get; set; } = 0;

    public string SelectedAmeninities { get; set; } = "";

    protected void AmenitiesSelectionChanged(string amenity)
    {


        SelectedAmeninities = amenity;

    }


    protected void RoomsSelectedCounterChanged(bool IsRoomSelected)
    {
        if (IsRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }

    }



    protected override void OnInitialized()
    {
        base.OnInitialized();

        AmenitiesList.Add(new Amenities()
        {
            Id = 111,
            Type = "Gym",
            Details = "24x7 gym is available"
        });

        AmenitiesList.Add(new Amenities()
        {
            Id = 222,
            Type = "Swimming Pool",
            Details = "Pool is open from 6am to 10pm"
        });

        AmenitiesList.Add(new Amenities()
        {
            Id = 333,
            Type = "Free Breakfast",
            Details = "Enjoy breakfast free 6am to 10am"
        });


        RoomsList.Add(new BlazorRoom()
        {
            Id = 1,
            RoomName = "Villa Suite",
            IsActive = true,
            Price = 499,



            RoomProps = new List<BlazorRoomProp>()
            {
                new BlazorRoomProp{Id=1,Name="Sq Ft",Value="150" },
                new BlazorRoomProp{Id=2,Name="Occupancy",Value="6" }
            }

        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite on Ocean",
            IsActive = true,
            Price = 600,



            RoomProps = new List<BlazorRoomProp>()
            {
                new BlazorRoomProp{Id=1,Name="Sq Ft",Value="130" },
                new BlazorRoomProp{Id=2,Name="Occupancy",Value="4" }
            }

        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 301,
            RoomName = "Hotel Suite Ocean View",
            IsActive = true,
            Price = 800,



            RoomProps = new List<BlazorRoomProp>()
            {
                new BlazorRoomProp{Id=1,Name="Sq Ft",Value="200" },
                new BlazorRoomProp{Id=2,Name="Occupancy",Value="6" }
            }

        });


    }



}