@page "/ParentComponent"



<h3 class="text-danger">Parent Child Component</h3>

<ChildComponent Title="This title is passed as parameter from Parent Component">

    Render Fragment from Parent!

</ChildComponent>

<ChildComponent Title="This second title passes as parameter from Parent Component with no Render fragment">

   

</ChildComponent>
@code {

}
