@inject IJSRuntime JsRuntime
<div>
    <div class="alert alert-info">@Title</div>

    @if (DangerChildContent == null)
    {


        @if (ChildContent is null)
        {
            <span>Default for empty render Fragment 2nd component</span>
        }
        else
        {
            <span>@ChildContent</span> <br />


        }
    }
    else
    {
        <span>@DangerChildContent</span>
    }
<GrandChildComponent></GrandChildComponent>

</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

  public async Task ShowToastrSuccess()
        {

        await JsRuntime.ToastrSeccess("Whoohoo Success!");

        }

}
